*{
    padding: 1;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff;
}

body{
    line-height: 1.5;
    background-color: rgb(31, 31, 31);
}

header{
    background-color: rgb(0, 0, 0);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    z-index: 3;
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(168, 33, 33);
}

nav a {
    text-decoration: none;
    color: rgb(196, 121, 121);
}
a:hover{
    color: #970c0c;
    font-size: 17.2px;
    transition: 0.5s;
}

nav ul{
    padding: 0;
    list-style: none;
    display: flex; 
    align-items: center;
    margin: 0 auto;
}

nav li{
    margin-right: 20px;
}

